streamlit==1.40.1
pandas==2.0.3
numpy==1.24.4

plotly==6.5.0
pydeck==0.9.1
altair==5.4.1

pyarrow==17.0.0

google-api-python-client==2.187.0
google-auth==2.43.0
requests==2.32.4
google-auth-httplib2==0.2.1
google-auth-oauthlib==1.2.3
httplib2==0.31.0

PyDrive2==1.21.3

python-dotenv==1.0.1
PyYAML==6.0.3
requests==2.32.4
pytz==2025.2

